.textWindow {
    resize:none;
    width: 380px;
}
.current-help {
    visibility: visible;
}
.current-help2 {
    display: none;
}

.entire_field {
    width: 1450px;
    float: left;
    border: transparent;
    margin-right: 10px;
}
.input_felt{
    width: 410px;
    float: left;
    border: transparent;
    margin-right: 10px;
}
.felt {
    width: 400px;
    background-color: #C0C0C0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin-bottom: 10px;
    padding: 5px;
}

.previewField {
    width: 310px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    border: 2px solid grey;
}
.previewAnswer {
    width: 320px;    
    float: left;
    background-color: #cccccc;
}
.previewAnswer2 {    
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    border: 2px solid green;
    background: #cccccc;
    width: 316px;
}
.entirePreview {
    width:300px;
    float: left;
    border: transparent;
}
.previewIn {
    margin-top: 10px;
    width: 328px;
    background-color: #cccccc;
    float: left;
    border: 1px solid black;
}

.previewInTitle{
    width: 320px;
    background-color: #cccccc;
    margin: 4px;
    text-align: center;
}
.previewInPic{
    width: 320px;
    background-color: #cccccc;
    margin-left: 4px;
    margin-right: 4px;
    margin: 4px;
}
.previewInTxt{
    width: 320px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #cccccc;
    text-align: center;
}
.previewOut{
    margin-top: 10px;
    width: 650px;
    background-color: #cccccc;
    float: left;
    border: 1px solid black;
}
.previewOutTitle{
    width: 642px;
    background-color: #cccccc;
    margin: 4px;
    text-align: center;
}
.previewOutPic{
    width: 642px;
    background-color: #cccccc;
    margin: 4px;
}
.previewOutTxt{
    width: 642px;
    margin: 4px;
    background-color: #cccccc;
    text-align: center;
}
.preview {
    width:654px;
    float: left;
}
.previewChose {
    width: 650px;
    float: left;
}



